@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.addbutton{
  color: white;
  background-color: rgb(4, 160, 4);
  width: 3rem;
  border: none;
  border-radius: 5px;
  padding: 5px 5px;
  font-size: medium;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-left: 5px;
}

.clearbutton{
  color: white;
  background-color: rgb(128, 129, 128);
  width: 3rem;
  border: none;
  border-radius: 5px;
  padding: 5px 5px;
  font-size: medium;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-left: 5px;
}
.clearbutton:hover {
  background-color: rgba(97, 99, 97, 0.637);
  cursor: pointer;
}
.clearbutton:active {
  transform: translateY(2px);
  box-shadow: 0 2px #666;
}
.addbutton:hover {
  background-color: rgba(4, 160, 4, 0.829);
  cursor: pointer;
}
.addbutton:active {
  transform: translateY(2px);
  box-shadow: 0 2px #666;
}

.myInput {
  width: 19.5rem;
  padding: 5px;
}


:root {
  --background: white;
  --text-primary: black; 
}
[data-theme='dark'] {
  --background: rgba(0, 0, 0, 0.897);
  --text-primary: white; 
}

.App {
  color: var(--text-primary);
  background-color: var(--background);
  font-size: large;
  padding: 20px;
  height: calc(100vh - 40px);
  transition: all .5s;

}
button {
  color: var(--text-primary);
  background-color: var(--background);
  border: 2px var(--text-primary) solid;
  float: right;
  transition: all .5s;
}

.userinputtd {
  width: 20rem;
  border: 1px solid var(--text-primary);
  background-color: white;
  color: black;
}


